@import "../book/themes/packages/@vivliostyle/theme-bunko/scss/theme_print.scss";

@page {
    font-family: "Noto Serif CJK JP", serif;
    p.line {
        margin-inline-start: 6em;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    p.line > strong:first-child {
        margin-inline-start: -6em;
        min-inline-size: 6em;
        display: inline-block;
    }
    .text-combine {
        text-combine-upright: all;
    }
}